<div class="episodeCard">
  <img [src]="episode.image_url" alt="Episode Image" />
  <div class="info">
    <p class="episodeNumber">
      Episode <span class="number">#{{ episode.episode }}</span>
    </p>
    <h1 class="episodeTitle">{{ episode.title }}</h1>
    <p class="pubDate">{{ episode.created_at | date : "MMMM d, y" }}</p>
    <p class="description">{{ episode.description | truncate : 80 }}</p>
    <a [routerLink]="['/episodes', episode.id]" class="more"
      >More <i class="pi pi-arrow-right"></i
    ></a>
  </div>
</div>
