<app-navbar />

<div class="container">
  <header>
    <div class="hero">
      <h1>Rant & confess with your favourites</h1>
      <p class="kicker">
        Subtitle in here to describe the main objectives This can be one line,
        two lines, or lash lines with a pinch of everything that you want to
        include but not everything like everything!
      </p>

      @if (themeService.theme() === 'light') {
      <div class="listen-links-light">
        <a href="" class="spotify">
          <img src="../../../assets/spotify-light.svg" alt="Spotify Logo" />
          <div class="text">
            <p>Listen on</p>
            <img src="../../../assets/spotify-light-text.svg" alt="Spotify" />
          </div>
        </a>
        <a href="" class="apple-podcast">
          <img
            src="../../../assets/apple-podcast-light.svg"
            alt="Apple Podcast"
          />
          <div class="text">
            <p>Listen on</p>
            <img
              src="../../../assets/apple-podcast-text.svg"
              alt="Apple Podcast"
            />
          </div>
        </a>
      </div>
      } @else {
      <div class="listen-links-dark">
        <a href="" class="spotify">
          <img src="../../../assets/spotify-dark.svg" alt="Spotify Logo" />
          <div class="text">
            <p>Listen on</p>
            <img src="../../../assets/spotify-dark-text.svg" alt="Spotify" />
          </div>
        </a>
        <a href="" class="apple-podcast">
          <img
            src="../../../assets/apple-podcast-dark.svg"
            alt="Apple Podcast"
          />
          <div class="text">
            <p>Listen on</p>
            <img
              src="../../../assets/apple-podcast-text-dark.svg"
              alt="Apple Podcast"
            />
          </div>
        </a>
      </div>
      }
    </div>
    <div class="latest-podcast">
      @if (episodes && episodes.length > 0) {
      <app-latest-episode [latestEpisode]="episodes[0]" />
      }
    </div>
  </header>
</div>
