<app-navbar />
<div class="hero">
  <div class="image-container">
    <div class="overlay"></div>
    <img [src]="episode?.image_url" alt="Episode Image" />
  </div>
  <div class="container">
    <h1 class="episodeTitle">{{ episode?.title }}</h1>
    <p class="kicker">
      <span class="duration">{{ episode?.duration }} Total minutes</span> |
      <span class="releaseDate">{{
        episode?.created_at | date : "MMMM d, y"
      }}</span>
    </p>

    <app-audio-player [episode]="episode" />
  </div>
</div>

<section class="episodeDescription">
  <div class="container">
    <h1 class="sectionTitle">Episode Description</h1>
    <p class="description">{{ episode?.description }}</p>
  </div>
</section>

<section class="recentEpisodes">
  <div class="container">
    <div class="head">
      <h1 class="sectionTitle">Recent Episodes</h1>

      <a routerLink="/episodes" class="more"
        >View more <i class="pi pi-arrow-right"></i
      ></a>
    </div>

    <div class="episodes">
      @for (episode of lastEpisodes; track episode.title) {
      <app-episode-card [episode]="episode" />
      }
    </div>
  </div>
</section>

<app-footer />
